<div class="max-w-xl mx-auto bg-white border border-slate-200 rounded-2xl p-8 shadow-sm">
  <div class="mb-6">
    <h1 class="text-2xl font-extrabold text-slate-905 font-outfit">Edit Project Details</h1>
    <p class="text-sm text-slate-500 mt-1">Update title and description properties for this project.</p>
  </div>
  
  <%= render "form", project: @project %>
</div>
